@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "regular";
  src: local("playfair-regular"),
  url('./assets/fonts/playfair-regular.ttf') format("truetype");
}

@font-face {
  font-family: "karla";
  src: local('karla-regular'), 
  url('./assets/fonts/karla-regular.ttf') format("truetype");
}